<mat-toolbar class="pokeColor gameToolbar">
  <button mat-icon-button [matMenuTriggerFor]='menu'>
    <mat-icon>menu</mat-icon>
  </button>

  <span style='flex: 1 1'></span>

  Trainer: {{ playerName }} /
  Points: {{ playerPoints }}
</mat-toolbar>

<mat-menu #menu='matMenu'>
  <button mat-menu-item routerLink='/games/pokeType' routerLinkeActive='true'>PokeType</button>
  <button mat-menu-item routerLink='/games/pokeGuess' routerLinkeActive='true'>PokeGuess</button>
  <button mat-menu-item routerLink='/games/pokeDex' routerLinkeActive='true'>PokeDex</button>
  <button mat-menu-item (click)='logOut()'>Log Out</button>
</mat-menu>



<router-outlet></router-outlet>
