<div class="gameSelectMain">
  <div class="textArea" *ngIf="!showGameSelection">
    <p>
      {{ pokeMessage[currentMessageIndex].message }}
    </p>
    <p *ngIf="showNameInput">
      {{ playerName }}
    </p>

    <p *ngIf="showNameInput">
      <label>Name: </label
      ><input
        #playerNameInput
        class="trainerName"
        (keyup.enter)="setPlayerName()"
        (keyup)="writePlayerName(playerNameInput.value)"
      />
    </p>

    <button
      *ngIf="showNameInput"
      id="nextButton"
      mat-raised-button
      class="pokeColor"
      (click)="setPlayerName()"
      [disabled]="!allowAdvance"
    >
      Next...
    </button>

    <button
      *ngIf="!showGameSelection && !showNameInput"
      id="nextButton"
      mat-raised-button
      class="pokeColor"
      (click)="advanceMessage()"
      [disabled]="!allowAdvance"
    >
      Next...
    </button>
  </div>
      <div class="oakPic" *ngIf='!showGameSelection'>
        <img src='assets/profOakLetsGo.png'>
      </div>

  <div *ngIf="showGameSelection">
    <div class="gameSelectionHeader">{{ playerName }}, Please select a game:</div>

    <div class="selectionButtonContainer">
      <button
        class="pokeColor selectionButton"
        routerLink="/games/pokeType"
        routerLinkeActive="true"
      >
        PokeType
      </button>
      <button
        class="pokeColor selectionButton"
        routerLink="/games/pokeGuess"
        routerLinkeActive="true"
      >
        PokeGuess
      </button>
      <button
        class="pokeColor selectionButton"
        routerLink="/games/pokeDex"
        routerLinkeActive="true"
      >
        PokeDex
      </button>
    </div>
  </div>
</div>
