<div class="gameSelectMain">
  <div class="textArea" *ngIf="!showGameSelection">
    <p>
      {{ pokeMessage[currentMessageIndex].message }}
    </p>

    <p *ngIf="showNameInput">
      <input
        #playerNameInput
        (keyup.enter)="setPlayerName(playerNameInput.value)"
      />
      <span style="margin-left: 3px;"> (press 'Enter' key to continue)</span>
    </p>

    <button
      *ngIf="!showGameSelection"
      id="nextButton"
      mat-raised-button
      class="pokeColor"
      (click)="advanceMessage()"
      [disabled]="!allowAdvance"
    >
      Next...
    </button>
  </div>
  <div class="oakPic"></div>

  <div *ngIf="showGameSelection">
    <h3>{{ playerName }}, Please select a game:</h3>
  
    <div class='selectionButtonContainer'>
        <button class='pokeColor selectionButton' routerLink='/games/pokeType' routerLinkeActive='true'>PokeType</button>
        <button class='pokeColor selectionButton' routerLink='/games/pokeGuess' routerLinkeActive='true'>PokeGuess</button>
        <button class='pokeColor selectionButton' routerLink='/games/pokeDex' routerLinkeActive='true'>PokeDex</button>
    </div>
  </div>
</div>
