.homePage {
    text-align: center;
    padding-top: 10px;
}

.heroImg {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
}

.subText {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}

.playButton {
    height: 50px;
    width: 175px;
    font-size: 32px;
    font-weight: bold;
}

.footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}