.pokedexMain {
    width: 97%;
    padding-left: 25px;
    display: flex;
    justify-content: center;

}

:host ::ng-deep .dx-data-row td {
    align-items: center;
    justify-content: center;
    height: 100%
}

.typeCell {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

.pokePicture {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.oakPic {
  height: 100%;
}

.headerMain {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 25px;
  height: 200px;
}

.extraDetails {
  display: flex;
}

.divider {
  margin-left: 5px;
  margin-right: 5px;
}

.more-info-button {
  width: 200px;
}
